<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Here is My Awesome Blog
        <br>
        <small>Or not Awesome...</small>
      </h1>

      <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
      </div>

      <!-- Blog Post -->
      <div *ngFor="let post of posts">
        <div *ngIf='SearchByTitle(post)'>
          <app-blog-post [img]='post.img' [title]='post.title' [msg]='post.msg' [user]='post.user' [date]='post.date'
            [description]='post.description' [toggle]='post.toggle'></app-blog-post>
        </div>
      </div>

      <div *ngIf="posts?.length < 1">
        <hr>
        <h1 class="text-center">No posts yet :(</h1>
        <hr>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <form>
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." autocomplete="off" name="search"
                [(ngModel)]="searchText" #searchInput='ngModel'>
              <button class="btn btn-outline-danger" (click)="searchText=''">Clear</button>
            </div>
          </div>
        </div>
      </form>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Sort by date</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <button class="btn btn-outline-info btn-lg" (click)="filterDateNew()">Newest</button>
            </div>
            <div class="col-lg-6">
              <button class="btn btn-outline-warning btn-lg" (click)="filterDateOld()">Oldest</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Posts counter</h5>
        <div class="card-body">
          <div *ngIf='posts?.length >= 1'>
            We have <span class="badge badge-success">{{posts?.length}}</span> posts.
          </div>
          <div *ngIf='posts?.length < 1'>
            We have <span class="badge badge-danger">{{posts?.length}}</span> posts yet :(
          </div>
        </div>
      </div>

      <!-- <app-search-widget></app-search-widget> -->
      <!-- <app-categories-widget></app-categories-widget> -->
      <!-- <app-side-widget></app-side-widget> -->
    </div>

  </div>
  <!-- /.row -->

</div>
