<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Registration</a>
          </li>
        </ul>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- Nav tabs -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
              <form action="#">
                <div class="form-group">
                  <input type="email" class="form-control" id="email-login" required placeholder="Email address:">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="pwd-login" required placeholder="Password:">
                </div>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                  </label>
                </div>
                <button class="btn btn-success btn-block" type="submit">Sign In</button>
              </form>
            </div>

            <div id="menu1" class="container tab-pane fade"><br>
              <form action="#">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" required placeholder="Full Name:">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email-reg" required placeholder="Email address:">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="pwd-reg" required placeholder="Password:">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="rpwd-reg" required placeholder="Repeat Password:">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Registration</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
